<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Quid Pro Quode,<br> The Quotes app!</h1>
    <img class="quote-pic1" src="https://i.imgur.com/zvLnChS.png" alt="Quid Pro Quode Logo"/>
    <p class="slogan">An app for collecting your favorite quotes.</p>
    <a class="quotes-index-link" href="/quotes">Browse Quotes</a>
  </body>
  <footer>Icons by <a href="https://www.scrapit.io">Scrap-It Tech</a></footer>
</html>
