<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
 <a class="quotes-index-link" href="/quotes">
   <div class="index-link-text">Back to Quotes</div>
 </a>
  <!-- update the header -->
  <h1>Edit <%= quote.name %></h1>
<!-- updated form -->
<form action="/quotes/<%=quote._id%>?_method=PUT" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= quote.name %>" />
<div class="checkbox-div">
  <label for="isReadyToEat">Ready to Eat?</label>
  <input type="checkbox" name="isReadyToEat" id="isReadyToEat" <% if (quote.isReadyToEat) { %>
    checked
    <% } %> 
  />
  </div>

  <button type="submit">Update Quote</button>
</form>

  

</body>
</html>
