<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
 <a class="quotes-index-link" href="/quotes">
   <div class="index-link-text">Back to Quotes</div>
 </a>
  <!-- update the header -->
  <h1>Edit <%= quote.name %></h1>
<!-- updated form -->
<form action="/quotes/<%=quote._id%>?_method=PUT" method="POST">
  <label for="name">Title:</label>
  <input type="text" name="name" id="name" value="<%= quote.name %>" /><br>
<div class="checkbox-div">
  <label for="dailyQuote">Daily Quote</label> <br>
  <textarea name="dailyQuote" id="daily-quote" rows="5" cols="40"></textarea>
  </div>

  <button type="submit">Update Quote</button>
</form>

  

</body>
</html>
