<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Quote</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>Create a New Quote!</h1>
  
  <form action="/quotes" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

 <div class="checkbox-div">
   <label for="ready-to-eat">Ready to Eat?</label>
   <input type="checkbox" name="isReadyToEat" id="ready-to-eat" />
 </div>

    <button type="submit">Add Quote</button>
  </form>
  <br>
  <a href="/quotes/">Back to Quote</a>
</body>
</html>