<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Quote</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>Create a New Quote!</h1>
  
  <form action="/quotes" method="POST">
    <label for="name">Title:</label>
    <input type="text" name="name" id="name" /> <br>

 <div class="checkbox-div">
   <label for="daily-quote">Quote Content:</label><br>
   <textarea name="dailyQuote" id="daily-quote" rows="5" cols="40"></textarea>
 </div>

    <button type="submit">Add Quote</button>
  </form>
  <br>
  <h2><a href="/quotes/">Back to Quote</a></h2>
</body>
</html>